
.galeriaTitulo{
	@include title;
	padding-top: 120px;
	margin-left: 60px;
	
}

.fotosImagen {
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	
	padding: 15px;
	margin: 2px;
	
	img {
		width: 300px;
		border: solid black;
		margin: 10px;
		padding: 3px;
		&:hover {
			transform: scale(1.3);
		}
	}
}
@media all and (max-width: 576px) {
	.fotosImagen{
	img {
		width: 300px;
		border: solid black;
		margin: 10px;
		padding: 3px;
		&:hover {
			transform: none;
		}
	}
}
}