@import "_mixins";

body{
    font-family: $fuente;
    font-style: normal;
	background-color: rgb(233, 232, 232);   
}
#grilla{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
	"ban ban ban"
    "nos nos nos"
    "cont cont2 cont1"	
    "foot foot foot";
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: end;
    align-content: start;
    height: 100vh;
    margin: auto;

}
@media all and (max-width: 992px){
#grilla{
grid-template-areas: 
    "nav nav nav"
	"ban ban ban"
    "nos nos nos"
    "cont . ."
	"cont1 . ."
    "foot foot foot";
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}

}

#header {
	grid-area: nav;
	width: 100%;
	background: -webkit-linear-gradient(to left, #e74c3c, #000000);
	background: linear-gradient(to left, #e74c3c, #000000);
	position: fixed;
	top: 0px;
	.logo {
		img {
			width: 200px;
			margin-left: 20px;
		}
	}
}
.contHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
		padding: 0 40px;
		font-size: 14px;
		&:hover {
			transform: translateX(12px);
			transition: all 700ms ease-in-out;
		}
	}
}
.navbar{
	padding: 0;
}
.navbar-light {
	.navbar-nav {
		.nav-link {
			color: white;
		}
	}
}
.nav-link {
	&:hover {
		color: white !important;
	}
}
@media all and (max-width: 576px) {
	#header {
		.logo {
			img {
				width: 100px;
			}
		}
	}
}
.banner{
	grid-area: ban;
	align-self: stretch;
	justify-self: stretch;
	color: rgba(250, 232, 194, 0.986);
	left: 0px;
	top: 0px;
	width: 100%;
	min-height: 650px;
	background-image: url("media/banner.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	flex-wrap: wrap;
	padding-left: 20px;
	
	

	
	.imgBanner{
	display: flex;
    justify-content: start;
    align-items: start;
    width: 600px;
    margin-top: 140px;
    flex-wrap: wrap;
	
		h1{
			align-self: start;	
			line-height: 1.8em;
			margin-top: 100px;
			
			
		}
		h2{
			align-self: start;
			line-height: 1.8em;			
		}
		
	}
}
	
@media all and (max-width: 576px) {
	.banner{
		left: 0px;
		top: 0px;
		width: 100%;
		height: auto;		
		background-image: url("media/bannermob.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;		
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: start;

	
		.imgBanner{
			display: flex;
			justify-content: start;
			align-items: start;
			width: auto;
			margin-top: 100px;
			flex-wrap: wrap;
			
					
			
		h1{
			align-self: start;
			line-height: 1em;
			margin-top: 170px;
			font-size: 20px;
			
		}
		h2{
			align-self: start;
			line-height: 1em;
			font-size: 18px;	
			
		}


		}	
	}
	
}
.historia {
	grid-area: nos;
	
	.titulo {
		@include title;
		text-align: center;
	
	}
	.nosotros{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		
		justify-content: center;
		align-items: center;
	}	

	.texto {
		font-family:$fuente;	
		letter-spacing: 1px;
		text-align: justify;
		
		width: 50%;
		margin-bottom: 50px;
		flex-wrap: wrap;
	
	}
	.textoUno{
		font-family:$fuente;	
		letter-spacing: 1px;
		text-align: justify;
		width: 50%;
		margin-bottom: 50px;
		margin-left: 200px;
		flex-wrap: wrap;
	}
	.textoDos{
		text-align: center;
	}
		
		.foto{
			width: 200px;
			border: solid black;
			margin-left: 200px;
			margin-top: 15px;
			box-shadow: 7px 13px 37px #000;
			margin-bottom: 50px;

		}
		.fotoUno{
			width: 200px;
			border: solid black;
			margin-left: 20px;
			margin-top: 15px;
			box-shadow: 7px 13px 37px #000;
			margin-bottom: 50px;
		}	

	.video {
		margin: 13px;
		text-align: center;
		border-bottom: solid black;
		margin-top: 100px;
		
	
}
}
@media all and (max-width: 992px){
	.historia {
		
		.texto{
			margin: 5px;
			width: auto;
			margin-left: 1px;
		
		}
			
		.textoUno{
			margin: 5px;
			width: auto;
			margin-left: 3px;
			
		}
		.foto{
			margin-left: 60px;
		}
		.fotoUno{
			margin-left: 60px;
		}
	}
}
@media all and (max-width: 576px) {
	.historia {
		.nosotros{
		.texto{
			margin: 13px;
			width: auto;
			margin-left: 3px;
		}
		.textoUno{
			margin: 13px;
			width: auto;
			margin-left: 3px;
		}
		.foto{
			margin-left: 30px;
		}
		.fotoUno{
			margin-left: 30px;
		}
		.video {
			iframe {
				max-width: 300px;
				margin: auto;
			}
		}
	}
}
}
.formulario {
	grid-area: cont;
	width: 100%;
.formularioTitulo{
	@include title;
	margin-left: 30px;
}

}

.form{
	margin-left: 50px;
}

.formContacto {
	font-family:$fuente;
	width: 600px;
	padding: 30px;
	margin: 20px;
	border-radius: 4px;
	color:$colorWhite;
	box-shadow: 7px 13px 37px #000;
	background-color: $colorRed;
	
}
.control {
	width: 540px;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	border: 1px solid;
	
	font-family: $fuente;
	&:focus {
		height: 60px;
		
	}
}
.boton {
	width: 30%;
	height: 25px;
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	&:hover {
		cursor: pointer;
		transform: translateY(-3px);
		transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
		background-color: orange;
	}
	&:active {
		transform: translateY(3px);
	}
}
@media all and (max-width: 576px) {
	.formContacto {
		width: 300px;
	}
	.control {
		width: 250px;
	}
}
.datos{
	grid-area: cont1;
	margin-right: 120px;
	margin-bottom: 120px;
	P{
		color:#D35400;
	}
	
}
.textoDecorado{
	text-decoration: underline;
}

.footer {
	grid-area: foot;
	background-color: black;
	width: 100%;
	

	
}
.iconos {
	padding: 10px;
	i{
	font-size: 1.2rem;
	color: #e74c3c;
	margin-left: 50%;
	}
}
@media all and (max-width: 576px) {
	.iconos {
		padding: 10px;
		i{
		font-size: 0.8rem;
		color: #e74c3c;
		margin-left: 50%;
		}
	}
}

.wa {
	.wa__icono{
		position: fixed;
		bottom: 20px;
		right: 10px;
		
}
	.wa__icono--sm{
		width: 50px;
}
}
@media all and (max-width: 576px) {
	.wa__icono {
	
			width: 30px;
		}
	}

	

@each $k, $v in $weight {
    .type-#{$k}{
        font-family: $fuente;
        font-weight: $v;
    }
}

@each $k, $v in $sizes {
    .text-#{$k}{
        font-size: $v;

    }
}
$margin: 8px;
@for $i from 1 to 6 {
    .mtop-#{$i}{
        margin-top: $margin * $i;
    }
}

$margin: 8px;
@for $i from 1 to 6 {
    .mbottom-#{$i}{
        margin-bottom: $margin * $i;
    }
}