@import "_mixins";

.cuerpo{	
	background-color: black;
	
	
			
}
@media all and (max-width: 576px) {
	.cuerpo{
		.variedades{
		background-image: none;
	background-color: black;
}
	}
}

.variedades {
	background-image: url("media/productos3.jpg");
	background-size: 70%;	
	background-position: right;
	margin-right: 0;
	background-repeat: no-repeat;
	height: 100%;
	margin-top: 140px;

	.variedadesTitulo{
	@include title;
	padding-top: 20px;}
		
}

.varios {
	@include title;
	
}
.chop{
	@include title;
	
}

.imag {
	img {
		width: 300px;
		padding: 10px;
	}
}
.btn {
	width: 100px;
	font-size: 30px;
	&:hover{
		color: antiquewhite;
	}	
	&:focus {
		box-shadow: none !important;}
	
	}

.modal-header {
	border-bottom: none !important;
}
.modal-footer {
	border-top: none !important;
}
.btn.focus {
	box-shadow: none !important;
}
p{
	color: black;
}
.colorOranje{
    color: $colorOranje;
}
.colorRed{
    color: $colorRed;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(252, 251, 250);
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: .5rem;
    outline: 0;
}
