@import "_mixins";

.puntoVenta{
    display: grid;
    grid-template-areas:
    "tit tit"
    "desc desc"
    "map1 map2"
	"map3 map4"
    
     	
}
@media all and (max-width: 576px){
    .puntoVenta{
    grid-template-areas: 
        "tit tit"
        "desc desc"
        "map1 ."
        "map2 ."	
        "map3 ."
        "map4 .";
        margin: auto;

        
    }
    }

.titulo {
    @include title;
    margin-top: 120px;
    margin-bottom: 20px;
    grid-area: tit;

}
.puntos{
    color:$colorRed;
    padding-top: 20px;
    
}
.descripcion{
    grid-area: desc;
    margin: 10px;
}

.puntoUno{
    grid-area: map1;
    margin-left: 50px;
    
    
}
.puntoDos{
    grid-area: map2;
    
   
}
.puntoTres{
    grid-area: map3;
    margin-left: 50px;
    
    
}
.puntoCuatro{
    grid-area: map4;
   
    
}