$colorBlack: #17202A;
$bgColorBlack:#17202A;
$colorWhite:  #F7F9F9;
$bgColorWhite: #F7F9F9;
$colorOranje: #D35400;
$colorRed: #A93226;
$bgColorRed: #A93226;
$fuente: 'Montserrat', sans-serif;

$weight:('light': 300, 'regular': 400, 'bold': 600, 'extraBold': 800);
$sizes:('sm': 16px, 'md': 20px, 'lg': 30px, 'xlg': 40px);
