@import "_mixins";

body{
    font-family: $fuente;
    font-style: normal;
	background-color: rgb(233, 232, 232);   
}
#grilla{
    display: grid;
    grid-template-areas: 
    "nav nav"
	"ban ban"
    "nos nos"
    "cont cont1"	
    "foot foot";
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: end;
    align-content: start;
    height: 100vh;
    margin: auto;
}
#header {
	grid-area: nav;
	width: 100%;
	background: -webkit-linear-gradient(to left, #e74c3c, #000000);
	background: linear-gradient(to left, #e74c3c, #000000);
	position: fixed;
	top: 0px;
	.logo {
		img {
			width: 200px;
			margin-left: 20px;
		}
	}
}
.contHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
		padding: 0 50px;
		font-size: 14px;
		&:hover {
			transform: translateX(12px);
			transition: all 700ms ease-in-out;
		}
	}
}
.navbar{
	padding: 0;
}
.navbar-light {
	.navbar-nav {
		.nav-link {
			color: white;
		}
	}
}
.nav-link {
	&:hover {
		color: white !important;
	}
}

.banner{
	grid-area: ban;
	align-self: stretch;
	justify-self: stretch;
	color: rgba(250, 232, 194, 0.986);
	width: 100%;
	min-height: 700px;
	background-image: url("../media/banner.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	flex-wrap: wrap;
	padding-left: 20px;
		
	.imgBanner{
	display: flex;
    justify-content: start;
    align-items: start;
    width: 600px;
    margin-top: 140px;
    flex-wrap: wrap;
	
		h1{
			align-self: start;	
			line-height: 1.8em;
			margin-top: 100px;
			text-shadow: 1px 1px 5px rgb(247, 87, 10);
			display: inline-block;
			font-size: 50px;
		}
		h2{
			align-self: start;
			line-height: 1.8em;
			text-shadow: 1px 1px 5px rgb(247, 87, 10);	
			display: inline-block;		
		}		
	}
}	
.historia {
	grid-area: nos;
	
	.titulo {
		@include title;
		text-align: center;
	}
	.nosotros{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}	
	.texto {
		font-family:$fuente;	
		letter-spacing: 1px;
		text-align: justify;
		width: 50%;
		margin-bottom: 50px;
		flex-wrap: wrap;
	}
	.textoUno{
		font-family:$fuente;	
		letter-spacing: 1px;
		text-align: justify;
		width: 50%;
		margin-bottom: 50px;
		margin-left: 200px;
		flex-wrap: wrap;
	}
	.textoDos{
		text-align: center;
	}	
		.foto{
			width: 200px;
			border: solid black;
			margin-left: 200px;
			margin-top: 15px;
			box-shadow: 7px 13px 37px #000;
			margin-bottom: 50px;

		}
		.fotoUno{
			width: 200px;
			border: solid black;
			margin-left: 20px;
			margin-top: 15px;
			box-shadow: 7px 13px 37px #000;
			margin-bottom: 50px;
		}	
	.video {
		margin: 13px;
		text-align: center;
		border-bottom: solid black;
		margin-top: 100px;		
}
}

.formulario {
	grid-area: cont;
	width: 100%;
.formularioTitulo{
	@include title;
	margin-left: 30px;
}
}
.form{
	margin-left: 50px;
}
.formContacto {
	font-family:$fuente;
	width: 600px;
	padding: 30px;
	margin: 20px;
	border-radius: 4px;
	color:$colorWhite;
	box-shadow: 7px 13px 37px #000;
	background-color: $colorRed;	
}
.control {
	width: 540px;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	border: 1px solid;	
	font-family: $fuente;
	&:focus {
		height: 60px;		
	}
}
.boton {
	width: 35%;
	height: 25px;
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	
	&:hover {
		cursor: pointer;
		transform: translateY(-3px);
		transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
		background-color: orange;
	}
	&:active {
		transform: translateY(3px);
	}
}
.datos{
	grid-area: cont1;
	margin-bottom: 100px;
	P{
		color:#D35400;
	}	
}
.textoDecorado{
	text-decoration: underline;
}

.footer {
	grid-area: foot;
	background-color: black;
	width: 100%;		
}
.textoFooter{
	
	
	align-items: center;
	align-content: center;
	padding: 10px;
	margin-top: 15px;
	margin-left: 10px;
	p{
	color:#e74c3c;}
}
.iconos {
	padding: 10px;
	
	align-items: center;
	align-content: center;
	i{
	font-size: 1.8rem;
	color: #e74c3c;
	margin-left: 150px;
	
	
	}
}
.wa {
	.wa__icono{
		position: fixed;
		bottom: 20px;
		right: 10px;
		
}
	.wa__icono--sm{
		width: 50px;
}
}
	
@each $k, $v in $weight {
    .type-#{$k}{
        font-family: $fuente;
        font-weight: $v;
    }
}

@each $k, $v in $sizes {
    .text-#{$k}{
        font-size: $v;

    }
}
$margin: 8px;
@for $i from 1 to 6 {
    .mtop-#{$i}{
        margin-top: $margin * $i;
    }
}

$margin: 8px;
@for $i from 1 to 6 {
    .mbottom-#{$i}{
        margin-bottom: $margin * $i;
    }
}



@media all and (max-width: 992px){
#grilla{
grid-template-areas: 
    "nav nav"
	"ban ban"
    "nos nos"
    "cont cont"
	"cont1 cont1"
    "foot foot";
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center; 
    justify-items: center;
}
.historia {		
		.texto{
			margin: 5px;
			width: auto;
			text-align: center;
		}
			
		.textoUno{
			margin: 5px;
			width: auto;
			text-align: center;	
		}
		.foto{
			margin-left: 50px;
		}
		.fotoUno{
			margin-left: 50px;
	}
}
.formulario{
		.formularioTitulo{
			margin-left: 80px;
		}	
	}	
	
	.formContacto {
		width: 600px;
		margin-left: 80px;
	}
	.control {
		width: 540px;
	}
	.footer {
		grid-area: foot;
		background-color: black;
		width: 100%;		
	.textoFooter{		
		p{
		color:#e74c3c;
		font-size: 14px;
	}
	}
	.iconos {
		display: block;
		i{
		font-size: 1.6rem;
		color: #e74c3c;
		margin: 10px;
			
		}
		}
		}
	.wa{
		.wa__icono {
	
		margin-bottom: 40px;	
		width: 40px;
		}
	}
}	

@media all and (max-width: 576px) {
	#header {
		.logo {
			img {
				width: 100px;
			}
		}
	}

.banner{
		width: 100%;
		height: auto;		
		background-image: url("media/bannermob.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;		
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: start;

		.imgBanner{
			display: flex;
			justify-content: start;
			align-items: start;
			width: auto;
			margin-top: 100px;
			flex-wrap: wrap;
			width: 300px;			
			
			h1{
				align-self: start;
				line-height: 1em;
				margin-top: 170px;
				font-size: 30px;}
			
			h2{
				align-self: start;
				line-height: 1em;
				font-size: 18px;}	

		}	
	}
.historia {
		.nosotros{
		.texto{
			margin: 13px;
			width: auto;
			text-align: center;
		}
		.textoUno{
			margin: 13px;
			width: auto;
			text-align: center;
		}
		.foto{
			margin: 13px;
			align-self: center;
		}
		.fotoUno{
			margin: 13px;
			align-self: center;
		}
		.video {
			iframe {
				max-width: 300px;
				margin: auto;
			}
		}
	}
}
.formulario{
		.formularioTitulo{
			margin-left: 45px;
		}	
	}	
	
	.formContacto {
		width: 300px;
		margin-left: 45px;
	}
	.control {
		width: 250px;
	}	
.datos{
		margin-left: 13px;}


.footer {
		grid-area: foot;
		background-color: black;
		width: 100%;		
	.textoFooter{		
		p{
		color:#e74c3c;
		font-size: 14px;
	}
	}
	.iconos {
		display: block;
		i{
		font-size: 1.4rem;
		color: #e74c3c;
		margin: 10px;
			
		}
		}
		}
	.wa{
		.wa__icono {
	
		margin-bottom: 80px;	
		width: 35px;
		}
	}
}
